/* el-input */
[data-theme="dark"]:root {
	--focus_border: #e9b87a;
}

[data-theme="light"]:root {
	--focus_border: #e9b87a;
}

.form-group .el-input__wrapper,
.form-group .el-textarea {
	height: 100%;
	padding: 0;
	background: none;
	box-shadow: none;
	border: none;
	border-radius: inherit;
}

.form-group .el-input.is-disabled .el-input__wrapper {
	background: none;
	box-shadow: none;
}

.form-group .el-input__wrapper.is-focus {
	box-shadow: none;
}

.form-group .el-select .el-input__wrapper.is-focus,
.form-group .el-select .el-input.is-focus .el-input__wrapper {
	box-shadow: none !important;
}

.form-group .el-select:hover:not(.el-select--disabled) .el-input__wrapper,
.form-group .el-input__wrapper:hover {
	border: none;
	box-shadow: none;
}

.form-group .form-control {
	height: 100%;
}

.form-group .el-select,
.form-group .el-select .select-trigger,
.form-group .el-input {
	width: 100%;
	height: 100%;
	font-size: inherit;
	border-radius: inherit;
}

.el-popper:has(.el-select-dropdown).is-light {
	border: none;
	background: none;
}

.el-popper:has(.el-select-dropdown).is-light .el-popper__arrow::before {
	background: var(--background_header);
	border: none;
}

.el-popper .el-select-dropdown {
	background-color: var(--background_header);
	color: var(--color_main);
	border-radius: 8px;
}

.el-popper .el-select-dropdown .el-select-dropdown__item {
	color: var(--color_sec);
	padding: 0 12px;
	display: flex;
	align-items: center;
}

.el-popper .el-select-dropdown .el-select-dropdown__item .bit-coin {
	width: 100%;
}

.el-popper .el-select-dropdown .el-select-dropdown__item .icon-hock {
	color: transparent;
}

.el-popper .el-select-dropdown .el-select-dropdown__item.selected .icon-hock {
	color: var(--color_primary);
}

.el-select-dropdown__item.selected {
	/* background: rgba(255, 255, 255, 0.05); */
}

.el-popper .el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
	background: rgba(var(--color_main_rgb), 0.02);
}

.el-popper .el-select-dropdown__item.selected {
	/* background: rgba(255, 255, 255, 0.04); */
}


.form-group.text-center .el-input__inner,
.form-control.text-center .el-input__inner,
.form-group .el-input.text-center .el-input__inner {
	text-align: center;
}

.form-group.text-right .el-input__inner,
.form-group .el-input.text-right .el-input__inner {
	text-align: right;
}

/* 隐藏默认的上下箭头按钮 */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
}

.form-group.text-center .el-input__inner {
	text-align: center;
}

.form-group .form-control:has(.form-control-file) .el-input__inner {
	padding-right: 56px;
}

.form-group .el-textarea__inner,
.form-group .el-input__inner {
	background: none;
	border: none;
	font-size: inherit;
	font-family: boston;
	color: var(--color_main);
	transition: border .2s;
}

.form-group .el-input__inner {
	height: 100%;
	line-height: 1;
	padding: 0 12px;
	border-radius: inherit;
}

.form-group .el-textarea__inner {
	border-radius: 6px;
}

.form-group.small .el-input__inner,
.form-group.small .el-textarea__inner {
	padding: 8px;
}

.form-group.smaller .el-input__inner,
.form-group.smaller .el-textarea__inner {
	padding: 6px;
}

.form-group .el-input.p-0 .el-input__inner {
	padding: 0;
}

.form-group .form-control:has(.is-focus),
.form-group .form-control.border:has(.is-focus),
.form-group .form-textarea.border:not(.error):has(.el-textarea__inner:focus) {
	border: 1px solid var(--focus_border);
}

.form-group .form-control.transparent .el-input__inner {
	border: none;
	padding: 0;
	border-radius: 0;
}

.form-control.read-only {
	pointer-events: none;
}

.form-control.read-only .el-input__inner {
	font-family: rob;
	opacity: 0.95;
	font-size: 13px;
}

.form-group .form-control.transparent .el-input__inner:focus {
	border: none;
}

.form-group .form-control.large .el-input__inner {
	font-size: 20px;
	font-family: robBold;
}

.form-group .el-textarea__inner {
	line-height: 1.4;
	padding: 12px;
	box-shadow: none;
	height: 100px;
	max-height: 200px;
	/* border-radius: 12px; */
}

.form-group .higher .el-textarea__inner {
	height: 200px;
	min-height: 160px !important;
	max-height: 360px;
}

.form-group .el-textarea__inner:hover {
	box-shadow: none;
}

.form-group-item.search-input .el-input__inner {
	padding-right: 32px;
}

.form-group-item.transparent .el-input__inner {
	padding: 0 20px 0 0;
}

.form-group-item .el-input__suffix {
	position: absolute;
	right: 0;
	padding: 0 8px;
}

.form-group .el-textarea__inner:hover,
.form-group .el-input__inner:hover {}

.form-group .form-control.transparent .el-input__inner:hover {
	border: none;
}

.form-group .el-input.is-disabled .el-input__inner {
	color: #9A9EA5;
	opacity: 0.5;
}

.form-group .el-input.is-disabled .el-input__inner:hover {
	border: 1px solid transparent;
}

.form-group .el-input.is-disabled .el-input__inner::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}

.form-group .el-input__inner:focus,
.form-group .el-textarea__inner:focus {
	box-shadow: none;
	outline: none;
}

.form-group .el-textarea__inner:focus {}

.form-group .el-textarea .el-input__count {
	background: none;
}

.form-group .form-control.buy:has(.is-focus) {
	border: 1px solid #2ec4b6;
}

.form-group .form-control.sell:has(.is-focus) {
	border: 1px solid #dc4053;
}


.form-group .search-input .el-input__inner:focus {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-group-item.blue .el-input__inner {
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 0 12px;
}

.form-group .form-group-item.transparent .el-input__inner:focus,
.form-group .form-group-item.transparent .el-input__inner,
.form-group .form-group-item.transparent .el-input__inner:hover {
	border: 1px solid transparent;
}

.form-group .form-textarea.error,
.form-group .form-control.error {
	background: rgba(220, 64, 83, 0.1) !important;
}

.form-group .form-textarea.border.error,
.form-group .form-textarea.error,
.form-group .form-control.border.error,
.form-group .form-control.error {
	border: 1px solid #dc4053;
}

/* el-radio */
.form-group .el-radio__input,
.form-group .el-radio__original {
	font-size: 14px;
	font-family: boston;
}

.form-group .el-radio {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 0 16px;

}

.form-group .el-radio.is-checked {
	color: #fff;
	border: 1px solid #ff9302;
}

.form-group .el-radio__input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	font-family: inherit;
	font-size: inherit;
}

.form-group-item .el-radio__label {
	padding: 0;
	color: #82858E;
	font-family: inherit;
	font-size: inherit;
}

.form-group-item .el-radio.is-checked .el-radio__label {
	color: #ff9302;
	font-family: robBold;
}

.form-group-item .warning .el-input__inner {
	animation: borderWarning 1.2s infinite;
}

/* 边框高亮 */
.form-group-item .high-light {
	position: relative;
}

.form-group-item .high-light::before {
	content: '';
	display: block;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	position: absolute;
	top: 0;
	left: 0;
	animation: borderHighLight 1.2s infinite;
	box-shadow: inset 0 0 6px 3px rgba(240, 185, 11, 0.1);
}

.form-group-item .high-light:has(.el-input__inner:focus):before {
	display: none;
}


.form-group .el-input__clear::before {
	content: '\e657';
	font-family: iconfont;
	font-size: 16px;
	color: var(--color_gray);
	background: var(--background_light_deep);
	border-radius: 50%;
}

@keyframes borderHighLight {
	0% {
		border: 1px solid rgba(240, 185, 11, 0.9);
	}

	50% {
		border: 1px solid rgba(240, 185, 11, 0.4);
	}

	100% {
		border: 1px solid rgba(240, 185, 11, 0.9);
	}
}

@keyframes borderWarning {
	0% {
		border: 2px solid rgba(255, 84, 101, 0.9);
	}

	50% {
		border: 2px solid rgba(255, 84, 101, 0.4);
	}

	100% {
		border: 2px solid rgba(255, 84, 101, 0.9);
	}
}

/* select */
.form-select.w-auto {
	width: auto;
}

.form-select.w-auto .el-input__inner {
	width: 30px;
}

.form-select.el-select:has(.bit-coin) .el-input__inner::placeholder {
	opacity: 0;
}

.form-select.el-select:has(.bit-coin) .el-input__inner {
	opacity: 0;
}

.form-select .el-input__prefix {
	position: absolute;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	left: 1px;
	top: 1px;
	padding: 0 12px;
	border-radius: 6px;
}

.form-group.smaller .form-select .el-input__prefix {
	padding: 0 6px;
}

.form-group.small .form-select .el-input__prefix {
	padding: 0 6px;
}

.form-select .el-input__prefix .bit-coin {
	grid-gap: 8px;
}

.form-select.no-suffix .el-input__suffix {
	display: none;
}

/* pick */
.form-group .el-date-editor.el-input {
	width: 100%;
	height: 100%;
}

.form-group .el-date-editor.el-input .el-input__prefix {
	position: absolute;
	left: 12px;
}


.el-popper.el-picker__popper {
	max-width: unset;
}

.el-popper.el-picker__popper .el-time-panel__btn.confirm {
	color: #ff9302;
}

/* placeholder */
.form-group.small input.el-input__inner::-webkit-input-placeholder,
.form-group.small textarea.el-textarea__inner::-webkit-input-placeholder {
	color: #9A9EA5;
	font-size: 12px;
}

/* light-mode */