/* CSS Document */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100% !important;
	overflow: auto !important;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	padding-right: 0 !important;
	color: #555;
	line-height: 1;
	position: relative;
	font-family: rob;
}

* {
	-webkit-tap-highlight-color: transparent;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	text-decoration: none;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	cursor: pointer;
}

a:not(.btn):hover {
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

ul,
li,
a,
p,
input,
button,
textarea {
	margin: 0;
	padding: 0;
}

table,
tr,
td,
img {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	display: block;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	/*image-rendering: -webkit-optimize-contrast;*/
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

img,
button {
	border: none;
}

input,
select,
textarea {
	border: 1px solid #e8e8e8;
	padding: 0 10px;
}

textarea {
	padding: 10px;
}

button {
	cursor: pointer;
}

select {
	cursor: pointer;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
	outline: none;
}

button {
	background-color: transparent;
}

textarea {
	resize: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/* 字体 */
@font-face {
	font-family: 'bal';
	src: url('/font/BalooBhaina-Regular.ttf');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'boston';
	src: url('/font/Boston-Bold.otf');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'rob';
	src: url('/font/Roboto-Regular.ttf');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'robBold';
	src: url('/font/Roboto-Bold.ttf');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'mont';
	src: url('/font/Montserrat-Regular.ttf');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'montM';
	src: url('/font/Montserrat-Medium.ttf');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'montSB';
	src: url('/font/Montserrat-SemiBold.ttf');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'montB';
	src: url('/font/Montserrat-Bold.ttf');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'montEB';
	src: url('/font/Montserrat-ExtraBold.ttf');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*清除浮动*/
.clear:after {
	content: "";
	display: block;
	clear: both;
}

/*按钮*/
/*input placeholder*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #666;
	font-size: 14px;
	font-family: rob;
}

/*文本超出一行 省略号

		display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
*/
.line-clamp1 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	white-space: initial;
	word-break: break-all;
}

.line-clamp2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	white-space: initial;
	word-break: break-all;
}

.line-clamp4 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	white-space: initial;
	word-break: break-all;
}

.cover {
	overflow: hidden;
}

.cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.cover video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cover.circle {
	border-radius: 50%;
}

.cover:has(canvas) {
	border: 2px solid #fff;
}

.cover canvas {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}

/* a:hover .cover img {
  transform: scale(1.2);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
 */

/* scrollbar */
.scrollbar {
	overflow-y: auto;
}

.scrollbar-x {
	overflow-x: auto;
}

.scrollbar::-webkit-scrollbar,
.scrollbar-x::-webkit-scrollbar {
	width: 3px;
	height: 6px;
	background-color: rgba(255, 255, 255, 0);
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar-x::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--background_gray_tint);
}


.scrollbar::-webkit-scrollbar-track,
.scrollbar-x::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0);
}

.scrollbar-y-transparent {
	overflow-y: auto;
}

.scrollbar-y-transparent::-webkit-scrollbar {
	width: 0;
	background-color: rgba(255, 255, 255, 0);
}

.scrollbar-x-transparent {
	overflow-x: auto;
}

.scrollbar-x-transparent::-webkit-scrollbar {
	height: 0;
	background-color: rgba(255, 255, 255, 0);
}

[data-theme="light"] .scrollbar-primary::-webkit-scrollbar-thumb {
	background-color: var(--background_primary);
}