@font-face {
  font-family: "iconfont"; /* Project id 4871451 */
  src: url('iconfont.woff2?t=1756267154135') format('woff2'),
       url('iconfont.woff?t=1756267154135') format('woff'),
       url('iconfont.ttf?t=1756267154135') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upgrade-fill:before {
  content: "\e634";
}

.icon-recharge:before {
  content: "\e62c";
}

.icon-withdraw:before {
  content: "\e633";
}

.icon-activation-fill:before {
  content: "\e6a1";
}

.icon-fee-fill:before {
  content: "\e69d";
}

.icon-incentive-fill:before {
  content: "\e66e";
}

.icon-team-fill:before {
  content: "\e75f";
}

.icon-plus:before {
  content: "\e642";
}

.icon-reduce:before {
  content: "\e646";
}

.icon-lightning-fill:before {
  content: "\e8c5";
}

.icon-down:before {
  content: "\e611";
}

.icon-moon-fill:before {
  content: "\e6cb";
}

.icon-sun-fill:before {
  content: "\e866";
}

.icon-migrate-fill:before {
  content: "\e627";
}

.icon-manager-fill:before {
  content: "\e6a3";
}

.icon-rise-fill:before {
  content: "\e69c";
}

.icon-fall-fill:before {
  content: "\10136";
}

.icon-token:before {
  content: "\e954";
}

.icon-slippage-fill:before {
  content: "\e626";
}

.icon-meme-fill:before {
  content: "\e676";
}

.icon-sadface-fill:before {
  content: "\e782";
}

.icon-sort:before {
  content: "\e7e9";
}

.icon-filter:before {
  content: "\e625";
}

.icon-marketing-fill:before {
  content: "\e7b5";
}

.icon-next-page:before {
  content: "\e604";
}

.icon-last-page:before {
  content: "\e624";
}

.icon-prev-page:before {
  content: "\e651";
}

.icon-first-page:before {
  content: "\eb4e";
}

.icon-model:before {
  content: "\e65c";
}

.icon-model-fill:before {
  content: "\ec37";
}

.icon-bell-fill:before {
  content: "\e8e1";
}

.icon-exchange-house-fill:before {
  content: "\e8c3";
}

.icon-transaction-fill:before {
  content: "\e617";
}

.icon-rocket-head-fill:before {
  content: "\e86c";
}

.icon-hot-fill-1:before {
  content: "\e65d";
}

.icon-hot-fill-3:before {
  content: "\e7c7";
}

.icon-hot-fill-2:before {
  content: "\e83d";
}

.icon-search:before {
  content: "\e616";
}

.icon-earth-fill:before {
  content: "\e70c";
}

.icon-ai-fill:before {
  content: "\e787";
}

.icon-woman-fill:before {
  content: "\e622";
}

.icon-off:before {
  content: "\e60a";
}

.icon-mint-fill:before {
  content: "\e669";
}

.icon-level-fill-5:before {
  content: "\e608";
}

.icon-level-fill-2:before {
  content: "\e62b";
}

.icon-level-fill-4:before {
  content: "\e623";
}

.icon-level-fill-3:before {
  content: "\e62f";
}

.icon-level-fill-1:before {
  content: "\e615";
}

.icon-extends-fill:before {
  content: "\e621";
}

.icon-picture-fill:before {
  content: "\e6fa";
}

.icon-social-fill:before {
  content: "\e641";
}

.icon-rocket-fill:before {
  content: "\e61f";
}

.icon-help-fill:before {
  content: "\e606";
}

.icon-basic-fill:before {
  content: "\e603";
}

.icon-admin-fill:before {
  content: "\e610";
}

.icon-edit-fill:before {
  content: "\e619";
}

.icon-check-bottom-fill:before {
  content: "\e71a";
}

.icon-file-fill:before {
  content: "\e857";
}

.icon-close:before {
  content: "\e61d";
}

.icon-clear:before {
  content: "\e631";
}

.icon-refresh:before {
  content: "\e6d2";
}

.icon-copy:before {
  content: "\e61c";
}

.icon-arrow-down:before {
  content: "\e64c";
}

.icon-retract:before {
  content: "\e638";
}

.icon-social:before {
  content: "\e6c2";
}

.icon-link:before {
  content: "\e67a";
}

.icon-recommend:before {
  content: "\e680";
}

.icon-logout:before {
  content: "\e653";
}

.icon-more:before {
  content: "\e68a";
}

.icon-edit:before {
  content: "\e6ab";
}

.icon-trash:before {
  content: "\e6dd";
}

.icon-newchat:before {
  content: "\e70e";
}

.icon-meme:before {
  content: "\e681";
}

.icon-launch:before {
  content: "\e62e";
}

.icon-analysis:before {
  content: "\e6a5";
}

.icon-arrow-top:before {
  content: "\e632";
}

.icon-attachment:before {
  content: "\e618";
}

.icon-release-fill:before {
  content: "\e63c";
}

.icon-picture:before {
  content: "\e678";
}

.icon-delete:before {
  content: "\e7aa";
}

.icon-website-fill:before {
  content: "\e602";
}

.icon-fill-website:before {
  content: "\10135";
}

.icon-website:before {
  content: "\e637";
}

.icon-set:before {
  content: "\e74c";
}

.icon-set-fill:before {
  content: "\e60e";
}

.icon-share1:before {
  content: "\e630";
}

.icon-share:before {
  content: "\e799";
}

.icon-explain:before {
  content: "\e761";
}

.icon-question:before {
  content: "\e666";
}

.icon-hexagon-fill:before {
  content: "\e607";
}

.icon-time:before {
  content: "\e62d";
}

.icon-hock:before {
  content: "\e643";
}

.icon-hook:before {
  content: "\e6ee";
}

.icon-language:before {
  content: "\e7dc";
}

.icon-down-fill:before {
  content: "\e7e1";
}

.icon-coin-fill:before {
  content: "\e6a4";
}

.icon-bnb-fill:before {
  content: "\e61a";
}

.icon-pool-fill:before {
  content: "\e686";
}

.icon-arrow-right:before {
  content: "\e600";
}

.icon-back:before {
  content: "\e6aa";
}

.icon-email-fill:before {
  content: "\e6a9";
}

.icon-unlock-fill:before {
  content: "\e786";
}

.icon-lock-fill:before {
  content: "\e9c4";
}

.icon-earn-fill:before {
  content: "\e62a";
}

.icon-token-fill:before {
  content: "\e66f";
}

.icon-arrow-fill:before {
  content: "\e648";
}

.icon-check-fill:before {
  content: "\e61e";
}

.icon-github-fill:before {
  content: "\e601";
}

.icon-warn-fill:before {
  content: "\e674";
}

.icon-error-fill:before {
  content: "\e657";
}

.icon-success-fill:before {
  content: "\e8bd";
}

.icon-wallet:before {
  content: "\10132";
}

.icon-wallet-fill:before {
  content: "\e920";
}

.icon-user-fill:before {
  content: "\e6a2";
}

.icon-call-fill:before {
  content: "\e614";
}

.icon-dexScreener-fill:before {
  content: "\eb31";
}

.icon-break:before {
  content: "\e61b";
}

.icon-hot-fill:before {
  content: "\e757";
}

.icon-stake-fill:before {
  content: "\e65b";
}

.icon-exchange-fill:before {
  content: "\e6e9";
}

.icon-quotation-mark-right:before {
  content: "\e640";
}

.icon-quotation-mark-left:before {
  content: "\e64a";
}

.icon-menu:before {
  content: "\e605";
}

.icon-chat-fill:before {
  content: "\e95a";
}

.icon-telegram-fill:before {
  content: "\e6a7";
}

.icon-copy-fill:before {
  content: "\e620";
}

.icon-twitter-fill:before {
  content: "\e60c";
}

.icon-clear-fill:before {
  content: "\e6cc";
}

.icon-fill-twitter:before {
  content: "\10133";
}

.icon-fill-telegram:before {
  content: "\10134";
}

